NEXT_PUBLIC_PROJECT_ID=
DELAY_DURATION=
ONERAMP_API_KEY=


ONERAMP_API_URL=
KYC_REDIRECT_URL=
REOWN_PROJECT_ID=
NEXT_PUBLIC_INFURA_API_KEY=

# Farcaster
NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME=OneRamp
NEXT_PUBLIC_URL=
NEXT_PUBLIC_ICON_URL=
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
NEXT_PUBLIC_NOTIFICATIONS_WEBHOOK=

# Frame metadata
FARCASTER_HEADER=
FARCASTER_PAYLOAD=
FARCASTER_SIGNATURE=
NEXT_PUBLIC_APP_ICON=$NEXT_PUBLIC_URL/icon.png


# Optional Frame metadata items below
NEXT_PUBLIC_APP_SUBTITLE=Stablecoin to MobileMoney
NEXT_PUBLIC_APP_DESCRIPTION=Buy and Swap your stablecoins using MobileMoney and Bank for SubSaharan Africa
NEXT_PUBLIC_APP_SPLASH_IMAGE=$NEXT_PUBLIC_URL/splash.png
NEXT_PUBLIC_SPLASH_BACKGROUND_COLOR="#000000"
NEXT_PUBLIC_APP_PRIMARY_CATEGORY=finance
NEXT_PUBLIC_APP_HERO_IMAGE=$NEXT_PUBLIC_URL/hero.png
NEXT_PUBLIC_APP_TAGLINE=On and Off-Ramp made easy
NEXT_PUBLIC_APP_OG_TITLE=OneRamp
NEXT_PUBLIC_APP_OG_DESCRIPTION=Buy and Swap stablecoins for MobileMoney
NEXT_PUBLIC_APP_OG_IMAGE=$NEXT_PUBLIC_URL/hero.png


# Redis config
REDIS_URL=
REDIS_TOKEN=

COINBASE_API_KEY_ID=
COINBASE_SECRET_KEY=

# Phone number verification
PHONE_NUMBER_VERIFICATION_API_KEY=

# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
