registry=https://registry.npmjs.org/
@radix-ui:registry=https://registry.npmjs.org/
@csstools:registry=https://registry.npmjs.org/
strict-ssl=true
fetch-retries=5
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=2000
fetch-timeout=600000
